@import url("https://fonts.googleapis.com/css?family=Lato:300i,400,700|Raleway:300i,400,700");
html {
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%; }

.head {
  background: #02496a url("Elegant-assets/HERO Img.jpg") no-repeat;
  background-size: cover;
  width: 1600px;
  height: 900px; }
  .head .container__logo img {
    margin-top: 50px;
    margin-left: 210px; }
  .head .container__menu {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-left: 700px;
    margin-top: -20px; }
    .head .container__menu a {
      text-decoration: none;
      color: #fffefe; }
  .head .container__menu span {
    padding: 30px; }
  .head .container__title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #fffefe;
    margin-top: 220px; }
  .head .container__shape {
    margin-left: 760px;
    margin-top: 20px; }
  .head p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    text-align: center;
    margin-top: 60px; }
  .head .conteiner__scroll {
    background: url("Elegant-assets/arrow.svg") 50% no-repeat;
    display: block;
    height: 100px;
    width: 100px;
    position: relative;
    left: 750px;
    margin-top: 220px; }
  .head .conteiner__scroll:hover {
    opacity: 0.5; }

.services {
  width: 1600px;
  height: 740px; }
  .services h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    margin-top: 115px; }
  .services .container__shape {
    margin-left: 760px;
    margin-top: 20px; }
  .services .container_img {
    display: flex;
    justify-content: space-around; }
  .services .services__iphone {
    background: url("Elegant-assets/Apple iphone.svg") 50% no-repeat;
    height: 400px;
    width: 360px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #222222; }
    .services .services__iphone h3, .services .services__iphone p {
      position: relative;
      top: 300px; }
  .services .services__responsive {
    background: url("Elegant-assets/Responsive Desig.svg") 50% no-repeat;
    height: 400px;
    width: 360px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #222222; }
    .services .services__responsive h3, .services .services__responsive p {
      position: relative;
      top: 300px; }
  .services .services__verification {
    background: url("Elegant-assets/Verification.svg") 50% no-repeat;
    height: 400px;
    width: 360px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #222222; }
    .services .services__verification h3, .services .services__verification p {
      position: relative;
      top: 300px; }

.dolore {
  height: 500px;
  width: 1600px;
  background: #222222 url("Elegant-assets/[IMG].png") 50% no-repeat; }
  .dolore img {
    position: relative;
    left: 1032px;
    top: 75px; }
  .dolore h2 {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    bottom: 280px;
    left: 200px;
    margin-bottom: 0.2px; }
  .dolore p {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 22px;
    position: relative;
    bottom: 278px;
    left: 200px; }
  .dolore a {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 22px;
    position: relative;
    bottom: 250px;
    left: 200px; }

/*# sourceMappingURL=style.css.map */
